/* import font family*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap');

/* colors */
:root {
  --dark-blue-dark-mode-elements: hsl(209, 23%, 22%);
  --very-dark-blue-dark-mode-background: hsl(207, 26%, 17%);
  --very-dark-blue-light-mode-text: hsl(200, 15%, 8%);
  --dark-gray-light-mode-input: hsl(0, 0%, 52%);
  --very-light-gray-light-mode-background: hsl(0, 0%, 98%);
  --white-dark-mode-text-and-light-mode-elements: hsl(0, 0%, 100%);
}

/* global style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
}

/* container */
.container {
  width: 100%;
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.container a {
  color: var(--very-dark-blue-light-mode-text);
  text-decoration: none;
}

/* header */
.container header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 80px;
  padding-right: 80px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.07);
}

.container header .header-left a {
  color: var(--very-dark-blue-light-mode-text);
  font-weight: 800;
  font-size: 24px;
  cursor: pointer;
}

.container header .header-right {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.container header .header-right svg path {
  stroke-width: 1px;
  stroke: var(--very-dark-blue-light-mode-text);
}

/* main */
.container main {
  width: 100%;
  height: auto;
  padding-left: 80px;
  padding-right: 80px;
}

.container main .section-1 {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container main .section-1 .section-1-left .input-container {
  width: 480px;
  height: 60px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.container main .section-1 .section-1-left .input-container input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 75px;
  color: var(--dark-gray-light-mode-input);
}

.container main .section-1 .section-1-left .input-container svg.search {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  cursor: pointer;
}

.container main .section-1 .section-1-left .input-container svg.search path {
  stroke: var(--dark-gray-light-mode-input);
}

.container main .section-1 .section-1-right {
  position: relative;
  width: 200px;
  height: 60px;
}

.container main .section-1 .section-1-right svg.arrow-down {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}

.container .custom-dropdown {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  padding-left: 25px;
  padding-right: 20px;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.container .dropdown-options {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background: white;
  z-index: 3;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 0 0 5px 5px;
}

.container .dropdown-options div {
  padding-left: 25px;
  padding-top: 15px;
  margin: 0;
  cursor: pointer;
}

.container .dropdown-options div:last-child {
  padding-bottom: 15px;
}

.container .dropdown-options div:hover {
  font-weight: 600;
}

.container .section-2 {
  width: 100%;
  height: auto;
}

.container .section-2 .section-2-container {
  display: grid;
  grid-template-columns: repeat(4, 265px);
  gap: 75px;
  padding-bottom: 75px;
}

.container .section-2 .section-2-container .country {
  height: 340px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  cursor: pointer;
}

.container .section-2 .section-2-container .country img {
  width: 100%;
  height: 160px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.container .section-2 .section-2-container .country .country-name {
  margin-left: 25px;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 800;
}

.container .section-2 .section-2-container .country div {
  font-weight: 600;
  margin-left: 25px;
  margin-bottom: 5px;
}

.container .section-2 .section-2-container .country div span {
  font-weight: 400;
}


/* dark mode */
.container.dark a {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark header {
  background: var(--dark-blue-dark-mode-elements);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, .8);
}

.container.dark header .header-left a {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark header .header-right {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark header .header-right svg path {
  stroke: transparent;
  fill: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark main {
  background: var(--very-dark-blue-dark-mode-background);
}

.container.dark main .section-1 .section-1-left .input-container input {
  background: var(--dark-blue-dark-mode-elements);
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark main .section-1 .section-1-left .input-container input::placeholder {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark main .section-1 .section-1-left .input-container svg.search path {
  stroke: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark main .section-1 .section-1-right {
  background: var(--dark-blue-dark-mode-elements);
  color: var(--white-dark-mode-text-and-light-mode-elements);
  border-radius: 5px;
}

.container.dark main .section-1 .section-1-right svg.arrow-down path {
  fill: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .custom-dropdown {
  border-radius: 5px;
}

.container.dark .dropdown-options {
  background: var(--dark-blue-dark-mode-elements);
  border-radius: 5px;
}

.container.dark .section-2 .section-2-container .country {
  background: var(--dark-blue-dark-mode-elements);
  border-radius: 7px;
}

/* country details */
.container .country-details {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container .country-details .back {
  height: 40px;
  width: 140px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.container .country-details .back svg path {
  fill: var(--very-dark-blue-light-mode-text);
}

.container .country-details .country-details-container {
  width: 100%;
  display: flex;
  width: 100%;
  height: auto;
  padding-bottom: 100px;
  align-items: center;
  justify-content: space-between;
}

.container .country-details .country-details-container .country-details-left {
  width: 560px;
  max-height: 400px;
  overflow: hidden;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
}

.container .country-details .country-details-container .country-details-left img {
  width: 100%;
  height: auto;
  display: block; 
}

.container .country-details .country-details-container .country-details-right {
  width: 600px;
}

.container .country-details .country-details-container .country-details-right .country-name {
  font-size: 32px;
}

.container .country-details .country-details-container .country-details-right .country-details-right-middle {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 60px;
}

.container .country-details .country-details-container .country-details-right .country-details-right-middle div {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--very-dark-blue-light-mode-text);
}

.container .country-details .country-details-container .country-details-right .country-details-right-middle div span {
  font-weight: 400;
}

.container .country-details .country-details-container .country-details-right .country-details-right-bottom div {
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--very-dark-blue-light-mode-text);
}

.container .country-details .country-details-container .country-details-right .country-details-right-bottom {
  width: 100%;
  height: 30px;
  display: flex;
}

.container .country-details .country-details-container .country-details-right .country-details-right-bottom .border-title{
  width: 21%;
}

.container .country-details .country-details-container .country-details-right .country-details-right-bottom .border-list{
  width: 79%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: -5px;
}

.container .country-details .country-details-container .country-details-right .country-details-right-bottom div .border {
  font-weight: 400;
  border-radius: 3px;
  text-align: center;
  height: 30px;
  min-width: 100px;
  padding-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

/* country details dark mode */
.container.dark .country-details .back {
  background: var(--dark-blue-dark-mode-elements);
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .country-details .back svg path {
  fill: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .country-details .country-details-container .country-details-right .country-name {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .country-details .country-details-container .country-details-right .country-details-right-middle div {
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .country-details .country-details-container .country-details-right .country-details-right-bottom .border-title{
  color: var(--white-dark-mode-text-and-light-mode-elements);
}

.container.dark .country-details .country-details-container .country-details-right .country-details-right-bottom div .border {
  background: var(--dark-blue-dark-mode-elements);  
}


.attribution {
  margin: 20px auto;
  font-size: 11px;
  text-align: center;
}

.attribution a {
  font-size: 11px;
  color: hsl(228, 45%, 44%);
}

/* responsive */

@media (max-width: 1375px) {
  .container .section-2 .section-2-container {
    grid-template-columns: repeat(3, 265px);
  }
}

@media (max-width: 1350px) {
  .container .country-details {
    padding-top: 40px;
  }

  .container .country-details .back {
    margin-bottom: 60px;
  }
  
  .container .country-details .country-details-container {
    flex-direction: column;
    align-items: start;
    gap: 50px;
  }
}
  

@media (max-width: 1100px) {
  .container .section-2 .section-2-container {
    grid-template-columns: repeat(2, 265px);
  }
}

@media (max-width: 850px) {
  .container header {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container main {
    padding-left: 20px;
    padding-right: 20px;
  }

  .container main .section-1 {
    padding-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
  }
}

@media (max-width: 750px) {
  .container .country-details .country-details-container .country-details-right .country-details-right-middle {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 650px) {
  .container .section-2 .section-2-container {
    grid-template-columns: repeat(1, 265px);
    justify-content: center;
    gap: 30px;
  }

  .container header .header-left a {
    font-size: 16px;
  }

  .container .country-details .country-details-container .country-details-left {
    width: 100%;
  }

  .container .country-details .country-details-container .country-details-right {
    width: 100%;
  }

  .container .country-details .country-details-container .country-details-right .country-details-right-bottom {
    flex-direction: column;
    height: auto;
    gap: 15px;
  }

  .container .country-details .country-details-container .country-details-right .country-details-right-bottom .border-title{
    width: 100%;
  }

  .container .country-details .country-details-container .country-details-right .country-details-right-bottom .border-list{
    width: 100%;
  }
}

@media (max-width: 520px) {
  .container main .section-1 .section-1-left {
    width: 100%;
  }

  .container main .section-1 .section-1-left .input-container {
    width: 100%;
  }
}